# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
.venv/
env/
ENV/

# Spotify cache
.cache-spotify
.cache

# macOS
.DS_Store

# Environment variables - le dossier secrets/ contient le .env secret
secrets/

# IDE
.vscode/
.idea/
*.swp
*.swo
